:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0px;
}

a:link {
  margin-bottom: 20px;
  color: rgb(9, 43, 81);
  text-decoration: none;
}

a:visited {
color: rgb(66, 42, 66);
}

a:hover {
color: rgb(232, 98, 98);
text-decoration: underline;
}
